@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root{
  --color-green:#50fa7b;
  --color-rocketseat: #CE38CF;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
}
body{
  background: #282a36;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: aliceblue;
}

header{
  padding: 30px;
  background: rgba(0, 0,0, 0.1);
  border-bottom: 1px solid #333;
}

.links{
  text-align: center;
}

.links a{
  color: white;
  font-size: 18px;
  line-height: 28px;
  margin: 30px;
  text-decoration: none;
}

.links a:hover, #wrapper a:hover{
  color: var(--color-green);
  opacity: 1;
  transition: color 200ms;
}

#wrapper{
  text-align: center;
  padding: 32px;
}

#wrapper img{
  border-radius: 50%;
  border: 5px solid var(--color-green);
  margin-bottom: 32px;
  height: 300px
}

#wrapper h1{
  font-size: 42px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.8;
}

#wrapper a{
  color: white;
  max-width: 500px;
  margin: 3px auto;
  font-size: 20px;
  line-height: 42px;
  opacity: 0.3;
  text-decoration: none;
}

#links-footer{
  margin-top: 60px;
}

#links-footer a{
  border-bottom: 1px solid var(--color-green);
}

/* ====  cards ==== **/
.cards{
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: var(--color-rocketseat);
}

.card:hover{
  cursor: pointer;
  border-radius: 10px;
  transform: scale(1.02, 1.02);
  box-shadow: 2px 2px 20px var(--color-rocketseat);
}

.cards_image-container img:hover{
  border-radius: 10px;
} 

.cards_image-container img{
  width: 100%;
  height: 255px;
  padding-bottom: 10px;
}

.card_info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 24px;
}

.card_price{
  background-color: var(--color-rocketseat);
  filter: brightness(90%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
}
/* modal **/
.modal-overlay{
  background-color: rgba(0, 0,0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  opacity: 0;
  visibility: hidden;
}

.modal{
  background-color: white;
  width: 70%;
  height: 70%;
  margin: 5vh auto;
  border-radius: 0.5rem;
  position: relative;
}

.modal .close-modal{
  color: black;
  position:absolute;
  right: 8px;
  top: 5px;
  cursor: pointer;
}

.modal .maximize-modal{
  color: black;
  position:absolute;
  right: 32px;
  top: 5px;
  cursor: pointer;
}

.modal.maximize{
  width: 80%;
  height: 80%;
}

.modal-overlay.active{
  opacity: 1;
  visibility: visible;
}

iframe{
  width: 100%;
  height: 90%;
  position: absolute;
  top: 9%;
}